<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Dahemo76/blob/main/%23A01793538%20Daniel%20Hdez%20Mora%20IBM%20Curso%20Quizzis%20Mod%201-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#A01793538 Daniel Hdez Mora IBM Curso Quizzis Mod 1-3

In [ ]:
print("Actividad 2 Semana 1 Curso Phyton  Data Science Modulos 1 al 3")
print("Hello Phyton 101")
#Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement. 
print("Hello\nWorld!")
#What is the output of executing the following statement: # print('Hello World!')? Nothing
# print('Hello World!')
#ejercicio What is the type of the following: int(1.0)? True
int(1.0)

Actividad 2 Semana 1 Curso Phyton  Data Science Modulos 1 al 3
Hello Phyton 101
Hello
World!

1

In [ ]:
#Enter the code to convert the number 1 to a Boolean. bool(1)
bool(1)

True

In [ ]:
#How would you obtain the even elements?
Numbers = "0123456"
Numbers[::2]

'0246'

In [ ]:
#What is the result of the following line of code
"0123456".find("1")

1

In [ ]:
#What is the result of the following operation in Python
3 + 2 * 2

7

In [ ]:
name = "lizz"
print(name[0:2])

li

In [ ]:
#In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
var = "01234567"
print(var[::2])

0246

In [ ]:
#In Python, what is the result of the following operation '1'+'2'?
"1"+"2"

'12'

In [ ]:
#Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = "hello"
myvar.upper()

'HELLO'

In [ ]:
#How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers
A = (0,1,2,3)
A[3]
A[-1]

3

In [ ]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [ ]:
#What is the result of the following lines of code: S={'A','B','C'} U={'A','Z','C'} U.union(S)
S={"A","B","C"}
U={"A","Z","C"}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
#What is the intersection of set S and U? S={'A','B','C'} U={'A','Z','C'}
S={"A","B","C"}
U={"A","Z","C"}
V=S&U
print(V)

{'C', 'A'}

In [ ]:
#Consider the following dictionary: D = {'a':0,'b':1,'c':2} What is the result of the following: D.values()?
D = {"a":0,"b":1,"c":2}
D.values()

dict_values([0, 1, 2])

In [ ]:
#Consider the following dictionary: D = {'a':0,'b':1,'c':2} What is the output of the following D['b']?
D = {"a":0,"b":1,"c":2}
D["b"]

1

In [ ]:
#What is the syntax used to obtain the first element of the tuple: A = ('a','b','c')
A = ("a","b","c")
A[0]

'a'

In [ ]:
#After applying the following method, L.append(['a','b']), the following list will only be one element longer.
L =[]
L.append(["a","b"])
print (L)

[['a', 'b']]

In [ ]:
#Consider the following Python dictionary: Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6} What is the result of the following operation: Dict["D"]?
dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),"E":5,"F":6}
dict["D"]

(4, 4, 4)

In [ ]:
#Select the values of i that produces a True for the following:i!=0
i=1000 # i tiene que ser cualquier valor diferente a 0
i!=0

True

In [ ]:
#What is the output of the following:x='a' if(x!='a'): print("This is not a.") else: print("This is a.")
x="a" 
if(x!="a"):
  print("This is not a.")
else:
  print("This is a.")

This is a.

In [ ]:
#What is the output of the following lines of code:A=[3,4,5] for a in A: print(a)
A=[3,4,5]
for a in A:
  print(a)

3
4
5

In [ ]:
#What is the output of the following lines of code: x=3 y=1 while(y!=x): print(y)
y=y+1
x=3
y=1
while(y!=x):
  print(y)
  y=y+1

1
2

In [ ]:
a=1
def add(b):
  return a+b
c=add(10)
print (c)
print (a)

11
1

In [ ]:
def function(*arg):
  print (type(arg))
  for i in arg:
    print (i)
function(1,2,3)

<class 'tuple'>
1
2
3

In [ ]:
def f(*x):
  print (type(x))
  return sum(x)
f(1,2,3,4,5)

<class 'tuple'>

15

In [ ]:
x=1

if(x!=1):

  print('Hello')

else:

  print('Hi')

print('Mike')

Hi
Mike

In [ ]:
A = ['1','2','3']
for a in A:
  print(2*a)

11
22
33

In [ ]:
def Delta(x):
  if x==0:
    y=1;
  else:
    y=0;
  return(y)
Delta (0)

1