<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Dahemo76/blob/main/IBM%20Phyton%20for%20Data%20Science%20Cap%201-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
print("Actividad 2 Semana 1 Curso Phyton  Data Science Modulos 1 al 3")
print("Hello Phyton 101")
#Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement. 
print("Hello\nWorld!")
#What is the output of executing the following statement: # print('Hello World!')? Nothing
# print('Hello World!')
#ejercicio What is the type of the following: int(1.0)? True
int(1.0)

Actividad 2 Semana 1 Curso Phyton  Data Science Modulos 1 al 3
Hello Phyton 101
Hello
World!

1

In [61]:
#Enter the code to convert the number 1 to a Boolean. bool(1)
bool(1)

True

In [62]:
#How would you obtain the even elements?
Numbers = "0123456"
Numbers[::2]

'0246'

In [63]:
#What is the result of the following line of code
"0123456".find("1")

1

In [64]:
#What is the result of the following operation in Python
3 + 2 * 2

7

In [65]:
name = "lizz"
print(name[0:2])

li

In [66]:
#In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
var = "01234567"
print(var[::2])

0246

In [67]:
#In Python, what is the result of the following operation '1'+'2'?
"1"+"2"

'12'

In [68]:
#Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = "hello"
myvar.upper()

'HELLO'

In [69]:
#How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers
A = (0,1,2,3)
A[3]
A[-1]

3

In [70]:
B=["a","b","c"]
B[1:]

['b', 'c']