<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Dahemo76/blob/main/IBM%20Lab3%20Mod3%20Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
# First function example: Add 1 to a and store as b
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [41]:
# Get a help on add function
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [44]:
# Call the function add()
add(1)

1 if you add one 2

2

In [45]:
# Call the function add()
add(2)

2 if you add one 3

3

In [46]:
# Define a function for multiple two numbers
def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [47]:
# Use mult() multiply two integers
Mult(2, 3)

6

In [48]:
# Use mult() multiply two floats
Mult(10.0, 3.14)

31.400000000000002

In [49]:
# Use mult() multiply two different type values together
Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

In [50]:
# Function Definition
def square(a):
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [51]:
# Initializes Global variable  
x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [52]:
# Directly enter a number as parameter
square(2)

2 if you square + 1 5

5

In [53]:
# Define functions, one with return value None and other without return value
def MJ():
    print('Michael Jackson')
def MJ1():
    print('Michael Jackson')
    return(None)

In [55]:
MJ()
MJ1()

Michael Jackson
Michael Jackson

In [56]:
print(MJ())
print(MJ1())

Michael Jackson
None
Michael Jackson
None

In [58]:
def con(a, b):
    return(a + b)
# Test on the con() function
con("This ", "is")

'This is'

In [59]:
# a and b calculation block1
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [60]:
# a and b calculation block2
a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

In [61]:
# Make a Function for the calculation above
def Equation(a,b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [62]:
a1 = 4
b1 = 5
c1 = Equation(a1, b1)
c1

5

In [63]:
a2 = 0
b2 = 0
c2 = Equation(a2, b2)
c2

0

In [65]:
# Build-in function print()
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)
sum(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

70.0

In [66]:
len(album_ratings)

8

In [67]:
# Using if/else Statements and Loops in Functions Function example
def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [68]:
# Print the list using for loop
def PrintList(the_list):
    for element in the_list:
        print(element)

In [69]:
# Implement the printlist function
PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

In [71]:
#Setting default argument values in your custom functions
# Example for setting param with default value
def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [72]:
isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

In [76]:
#Global variables
# Example of global variable
artist = "Michael Jackson"
def printer1(artist):
    internal_var1 = artist
    print(artist, "is an artist")
printer1(artist)

Michael Jackson is an artist

In [77]:
artist = "Michael Jackson"
def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [78]:
#Scope of a Variable
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favourite band is: AC/DC

In [79]:
myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is:  10.0
My favourite band is: AC/DC

In [80]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [81]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Country : Canada
Province : Ontario
City : Toronto

In [82]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

['One', 'Two', 'Three', 'Four']

In [83]:
#Come up with a function that divides the first input by the second input:
def div(a, b):
    return(a/b)

In [84]:
def con(a, b):
    return(a + b)
#Can the con function we defined before be used to add two integers or strings? YES
con(2, 2)

4

In [85]:
#Can the con function we defined before be used to concatenate lists or tuples? YES
con(['a', 1], ['b', 1])

['a', 1, 'b', 1]